<html>
{% load staticfiles %}
<head>
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'CSS/index/index.css' %}" />
</head>

<body>
    <ul>
        <li> <a>Bienvenido {{ usuario }}</a></li>
        <li> <a href="/usuario/lista/">Lista</a></li>
        <li> <a href="/usuario/crear-user-form/">Modo 1:Crear Usuario</a></li>
        <li> <a href="/useraccount/registrar/">Modo 2:Crear Usuario</a></li>
        <li> <a href="/usuario/login/">Login</a></li>
        <li style="right: 0px; position: absolute;"> <a href="/usuario/logout/">Desconectarse</a></li>
    </ul>

    {% block content %}
    {% endblock %}
</body>

</html>
