<html>

<body>
    <h1>Creacion de Usuario Mediante FORM</h1>

    <form action="" method="post">

    <ul style="list-style-type:none">
        <li>{{ form.usuario.errors }}</li>
        <li>{{ form.usuario.label_tag }}</li>
        <li>{{ form.usuario }}</li>

        <li>{{ form.clave2.errors }}</li>
        <li>{{ form.clave.label_tag }}</li>
        <li>{{ form.clave }}</li>

        <li>{{ form.clave2.label_tag }}</li>
        <li>{{ form.clave2 }}</li>

        <li>{{ form.email.label_tag }}</li>
        <li>{{ form.email }}</li>

        {% csrf_token %}
        <li><input type="submit" value="login" /></li>
    </ul>

    </form>
</body>

</html>
