{% extends "HTML/basico.html"%}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/lista/lista.css' %}" />
{% endblock %}

{% block content %}
    <h1>Cuentas creada:</h1>

    <form class="form-tabla">
    <table style="width: 50%; margin-left: 25px;">
    {% if usuarios %}
        {% for user in usuarios %}
        <tr>
            <td style="width: 25px">
                <input type="checkbox" name="{{ user.username }}" id="{{ user.username }}">
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    {% else %}
        <p>Lo sentimos, pero nadie todavía se ha registrado. :(</p>
    {% endif %}
    </table>

        <input class="input-form" type="submit" value="Borrar" />
    </form>
{% endblock %}
